Gaz.DAL\bin\Debug*/

Gaz.Models/Models/GazDBContext.cs
Gaz.Models/obj/Debug/Gaz.Models.csprojResolveAssemblyReference.cache
Gaz.Models\obj\Debug*/
Gaz.Models\obj\Debug*/
Gaz.DAL\obj\Debug*/
Gaz.DAL/bin/Debug/Gaz.DAL.dll
Gaz.DAL/bin/Debug/Gaz.DAL.pdb
Gaz.DAL/bin/Debug/Gaz.Models.dll
Gaz.DAL/obj/Debug/Gaz.DAL.csprojResolveAssemblyReference.cache
Gaz.DAL/obj/Debug/Gaz.DAL.dll
Gaz.DAL/obj/Debug/Gaz.DAL.pdb
Gaz.Models/bin/Debug/Gaz.Models.dll
Gaz.Models/bin/Debug/Gaz.Models.pdb
Gaz.Models/obj/Debug/Gaz.Models.dll
Gaz.Models/obj/Debug/Gaz.Models.pdb
*.pdb
Gaz.DAL/bin/Debug/Gaz.DAL.dll
Gaz.DAL/bin/Debug/Gaz.DAL.pdb
Gaz.DAL/bin/Debug/Gaz.Models.dll
Gaz.DAL/bin/Debug/Gaz.Models.pdb
Gaz.DAL/bin/Debug/Gaz.Models.pdb
Gaz.DAL/obj/Debug/Gaz.DAL.csprojResolveAssemblyReference.cache
Gaz.DAL/obj/Debug/Gaz.DAL.dll
Gaz.DAL/obj/Debug/Gaz.DAL.pdb
Gaz.Models/bin/Debug/Gaz.Models.dll
Gaz.Models/obj/Debug/Gaz.Models.pdb
*.dll
*.dll