@if (Request.IsAuthenticated) {
    <text>
        ברוך הבא, @User.Identity.Name!
        @using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">ניתוק</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("התחבר", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
