@using GazProjec.Areas.Admin.Models
@using Kendo.Mvc.UI

@model  List<UserModel>

@{
    ViewBag.Title = "משתמשים";
}

<h2 style="direction:rtl;">משתמשים</h2>


<div>
    <a class='float-right' href="~/Admin/Home">אחורה</a>
</div>

<div>
    @(Html.Kendo().Grid(Model).Name("UsersGrid")
          .Columns(c =>
          {
              c.Bound(p => p.ID).Title("מספר לקוח");
              c.Bound(p => p.FirstName).Title("שם פרטי");
              c.Bound(p => p.LastName).Title("שם משפחה");
              c.Bound(p => p.Email).Title("דואל");
              c.Bound(p => p.Username).Title("שם משתמש");
              c.Bound(p => p.Password).Title("סיסמה");
              c.Bound(p => p.PhoneNumber).Title("טלפון");
              c.Command(p => 
              { 
                  p.Edit().Text("עדכון");
                  p.Destroy().Text("מחיקה");
                  p.Custom("מונים").Click("getCounters");
              }).Title("פעולות");
          })
          .DataSource(o => o.Ajax()
              .Model(p => 
              { 
                  p.Id(i => i.ID);
                  p.Field(i => i.ID).Editable(false);
              })
              .Read("UsersRead", "Users", new { Area = "Admin" })
              .Update("UsersUpdate", "Users", new { Area = "Admin" })
              .Destroy("RemoveUser", "Users", new { Area = "Admin" }))
          .Editable(editable => editable.Mode(GridEditMode.InLine))
          .Sortable()
          .Scrollable()
          .Resizable(o => o.Columns(true))
          .HtmlAttributes(new { style = "height:500px;"})
          )

</div>


        @(Html.Kendo().Window()
        .Name("counterWindow")
        .Title("מונים")
        .Height(400)
        .Width(750)
        .Modal(true)
        .Draggable()
        .Resizable()
        .Visible(false)
        )



<script type="text/javascript">


    function getCounters(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $.ajax({
            url: '@Url.Action("GetCountersForUser")',
            data: { userID: dataItem.ID },
            success: function (e) {
                $('#counterWindow').html(e.toString());
                $('#counterWindow').kendoWindow("open").center();
            }

        });


    }


</script>


