@using Gaz.Models.Models
@using Kendo.Mvc.UI

@model  List<User>

@{
    ViewBag.Title = "משתמשים";
}




<h2 style="direction:rtl;">משתמשים</h2>


    <div style="padding-top:5%;">
    @Html.Kendo().Grid(Model).Name("UsersGrid")
    </div>


