@using Kendo.Mvc.UI
@model GazProjec.Areas.Admin.Models.UserCounterModel

<div id="userCounters">

    @Html.Kendo().Grid(Model.Counters).Name("imagrid").Columns(c =>
                {
                    c.Bound(o => o.CounterID).Title("מספר מונה");
                    c.Bound(o => o.AddressID).Title("מספר כתובת");
                    c.Bound(o => o.AddressData.CityName).Title("עיר");
                    c.Bound(o => o.AddressData.StreetName).Title("רחוב");
                    c.Bound(o => o.AddressData.HouseNumber).Title("מספר בית");
                    c.Bound(o => o.AddressData.ApartmentNumber).Title("מספר דירה");
                    c.Bound(o => o.SumReads).Title("קריאת מונה נוכחית");
                })

</div>