@using Kendo.Mvc.UI
@model List<GazProjec.Areas.Admin.Models.UserModel>


<div>
<textarea id="notificationMessage" name="notificationMessage"></textarea>
</div>

@Html.Kendo().Grid(Model).Name("Users").Columns(c =>
{
    c.Template(@<text><input type="checkbox" id="@item.ID" /></text>).ClientTemplate("<#= ID #>").Width(50);
    c.Bound(o => o.FirstName).Title("שם פרטי").Width(150);
    c.Bound(o => o.LastName).Title("שם משפחה").Width(150);
    c.Bound(o => o.Email).Title("דואר אלקטרוני").Width(150);
}).HtmlAttributes(new {id = "mainData"}).Scrollable().Filterable()


<div style="text-align: center;">
    <button id="submitButton">שלח התראה</button>
    
    <button id="checkAll">סמן הכל</button>
    
    <button id="uncheckAll">נקה הכל</button>
</div>


<script type="text/javascript">

    $('#submitButton').click(function() {
        var message = $('#notificationMessage').val().trim();

        if (message == '') {

            alert("אינך יכול לשמור התראה ריקה");
            return;
        }

        var ids = [];
        var inputs = $('#mainData :input :checked');
        var selected = new Array();
        $('#mainData input:checked').each(function() {
            selected.push(parseInt($(this).attr('id')));
        });


        if (selected.length == 0) {
            alert('יש לסמן לפחות משתמש אחד');
            return;
        }


        $.ajax({
            url: '/Admin/Notifications/SetNotificationForMultipleUsers',
            type: 'POST',
            data: $.param({ 'message': message, 'userIds': selected, 'json': true }, true),
            success: function () {
                alert('ההודעה נשלחה');
                $("#NotificationWindow").data("kendoWindow").close();
            },
            error: function() {
                alert('קרתה תקלה');
            }
        });
    });

    $('#checkAll').click(function() {
        $('#mainData input[type=checkbox]').each(function () {
            $(this).prop('checked', true);
        });
    });
    
    $('#uncheckAll').click(function () {
        $('#mainData input[type=checkbox]').each(function () {
            $(this).prop('checked', false);
        });
    });


</script>
