@{
    ViewBag.Title = "עלינו";
}

<hgroup class="title" style="direction:rtl;">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p style="direction:rtl;">
        חברת הגזיה לישראל מגדולות חברות הגז בישראל, הינה בבעלות "חסון השקעות בע"מ", אחת מחברות האחזקה הגדולות בישראל. הגזיה לישראל חברה באיגוד הגז הבינלאומי ומשמשת כספקית הגז הבלעדית של כל כוחות הביטחון בישראל.

הגזיה לישראל הוסמכה לתקן- ISO9001:2000 תקן לניהול איכות. הסמכה הינה על כלל פעילויות החברה ובמבדקים שנערכו על ידי מכון התקנים הישראלי קיבלה החברה ציוני הערכה גבוהים.

בנוסף, הגזיה לישראל הוסמכה ע"י מכון התקנים לת"י 18001 - מערכת ניהול בטיחות וגיהות תעסוקתית. חברת סופרגז חרטה על דיגלה את נושא הבטיחות ולפיכך היא חברת הגז היחידה בארץ שעומדת בסטנדרט הבטיחות הגבוה של מכון התקנים הישראלי.
        </p>

</article>