@{
    ViewBag.Title = "צור קשר";
}

<hgroup class="title" style="direction:rtl;">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<img id="contact_is_image" src="~/Content/Images/contact_us.png" style="float:left"/>

<section class="contact" style="direction:rtl;">
    <header>
        <h3>טלפון</h3>
    </header>
    <p>
        <span class="label">ראשי:</span>
        <span>03-6595252</span>
    </p>
    <p>
        <span class="label">משני:</span>
        <span>03-6595253</span>
    </p>

</section>

<section class="contact" style="direction:rtl;">
    <header>
        <h3>דואר אלקטרוני</h3>
    </header>
    <p>
        <span class="label">תמיכה טכנית:</span>
        <span><a href="mailto:SupportGaz@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">כללי:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact" style="direction:rtl;">
    <header>
        <h3>כתובת</h3>
    </header>
    <p>
        אחד העם 39, תל אביב
    </p>
</section>