@model IEnumerable<Gaz.Models.Models.User>

@{
    ViewBag.Title = "הגזיה לישראל";
}

    <div id="main_banner" >
        <ul class="bjqs">
            <li><img src="~/Content/Images/1.jpg" /></li>
			<li><img src="~/Content/Images/2.jpg" /></li>
			<li><img src="~/Content/Images/3.jpg" /></li>
        </ul>
    </div>

<div style="display: block; margin-left: auto; margin-right: auto; width: 600px; ">
    <h4 style="direction: rtl;">חשוב לדעת...</h4>
    <hr/>
    <div style="box-shadow: 2px 2px 2px #888888;">
        <marquee behavior="scroll" truespeed="" scrolldelay="48" direction="up" scrollamount="1" onmouseover="this.scrollAmount = 0;" onmouseout="this.scrollAmount = 1;" >
            <div style="direction: rtl">
                אתר זה נבנה במסגרת הקורס פרויקט לתעשיה במכון הטכנולוגי חולון ואינו מייצג חברת גז אמיתית
            </div>
            <div style="direction: rtl; margin-top: 10px;">
                לקראת חג הפסח הבעל"ט מקובל לנקות
                היטב את הבית ובפרט את המטבח.
                להלן מספר כללי בטיחות בגז הרלוונטים לאמור לעיל:<br />
                1. נקה את הכיריים בזהירות והחזר כל חלק למקומו.<br />
                2. אם הינך שם ניר כסף, שים לב לא לכסות את אזור הבוער- פתח יציאת הגז.<br />
                3. אל תנקה את צינור הגומי בחומרים כימיים שעלולים לפגוע בו.<br />
                4. בהזיזך את התנור המשולב או את הכיריים הקפד לא לנתק את צינור הגומי. אם מסיבה כלשהי נותק צינור הגומי סגור מידית את הברז שעל הקיר המחובר אליו והזעק את טכנאי סופרגז לתיקון
            </div>
            <div style="direction: rtl; margin-top: 10px;" >
                בסקר שבוצע ע"י חברת מרקטסט דורגה הגזיה לישראל במקום הראשון בשירות בשוק הגז
                הגזיה לישראל דורגה במקום הראשון בכל המדדים העיקריים:
                מקצועיות השרות, אדיבות השירות, תמורה למחירים, נכונות להמשיך להיות לקוח, המלצה לחברים.
                נמשיך לעשות הכול על מנת לתת את השרות הטוב ביותר
            </div>
            <div style="direction: rtl; margin-top: 10px;">
                למחמם המים של הגזיה לישראל ב-1 ₪ ליום .לפרטים והזמנות אנא פנה לסניף הקרוב לביתך. המבצע מיועד לצרכני גז מרכזי של סופרגז ובכפוף לתנאי המבצע ,בתוקף עד גמר המלאי
            </div>
            <div style="direction: rtl; margin-top: 10px;">
                הגזיה לישראל הוסמכה ע"י מכון התקנים לת"י 18001 - מערכת ניהול בטיחות וגיהות תעסוקתית. חברת הגזיה לישראל חרטה על דיגלה את נושא הבטיחות ולפיכך היא חברת הגז היחידה בארץ שעומדת בסטנדרט הבטיחות הגבוה של מכון התקנים הישראלי.
            </div>
            <script type="text/javascript" language="javascript">document.write("<" + "/marquee>");</script>
        </marquee>
    </div>
</div>

<img src="~/Content/Images/HIT.gif" alt="hit"/>

<script type="text/javascript">
      jQuery(document).ready(function($) {
          $('#main_banner').bjqs({
              height      : 300,
              width       : 800,
              responsive  : true
          });

      });
</script>