@model IEnumerable<Gaz.Models.Models.User>

@{
    ViewBag.Title = "הגזיה לישראל";
}

    <div id="main_banner" >
        <ul class="bjqs">
            <li><img src="~/Content/Images/1.jpg" /></li>
			<li><img src="~/Content/Images/2.jpg" /></li>
			<li><img src="~/Content/Images/3.jpg" /></li>
        </ul>
    </div>

    <div>
        
       

    </div>

<script type="text/javascript">
      jQuery(document).ready(function($) {
          $('#main_banner').bjqs({
              height      : 300,
              width       : 800,
              responsive  : true
          });

      });
</script>