@model IEnumerable<Gaz.Models.Models.User>

@{
    ViewBag.Title = "הגזיה לישראל";
}

    <div id="main_banner">



    </div>

    <div>
        
        @Html.Kendo().Grid(Model).Name("userGrid").Sortable().Groupable(o => o.Enabled(true))

    </div>